body{
    background-color: #2bff00;
}

a {
  color: #292929;
}

.one{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.two{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.three{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.four{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.five{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.six{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.seven{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.eight{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.nine{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.ten{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.eleven{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.twelve{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}

.thirteen{
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}
