body{
  margin:0;
  padding:0;
  background-color: #ebeb75;
}

.earring{


}

.earring:hover{

}

.tee{


}

.necklace{

}

.eyes{

}

.skull{

}

.ciggyz{

}

.kat{

}

.legz{

}

.record{

}

.lipz{

}
