@font-face {
  font-family: 'rockwell';
  src: url('../type/rockwell.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Marlboro';
  src: url('../type/Marlboro.woff') format('woff');
  font-style: normal;
}


body{
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.body{
    font-family: "rockwell";
    font-size: 150%;
    background-color: #ffffff;
}




.pov{
    display: flex;
    justify-content: center;
    font-family: 'Marlboro';
    font-size: 800%;
    margin-top: 5%;
}

.sub{
    display: flex;
    justify-content: center;
    font-family: 'neue-aachen-pro', sans-serif;
    font-weight: 400;
    font-size: 300%;
    font-style: normal;
    margin-bottom: 5%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.some-page-wrapper {
  margin-top: 2%;

}

.name{
    font-family: 'Marlboro';
    font-size: 150%;
}

.Media2 {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.body2 {
  flex: 1;
}


.cig1{
    display: flex;
    justify-content: center;
}

.cig2{
    display: flex;
    justify-content: center;
}

.media3{
    margin-bottom: 50%;
}

h3{
    font-family: 'neue-aachen-pro', sans-serif;
    font-weight: 400;
    font-size: 200%;
    font-style: normal;
}

h4{

    font-family: 'neue-aachen-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    font-family: 'rockwell';
}


h1{
    font-family: 'neue-aachen-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%
}

h2{
    font-size: 150%;
    font-family: 'rockwell';
}

p{
    font-size: 150%;
    font-family: 'Zilla Slab' ;
}

.gif{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


/* .cursor {
  cursor: url('path-to-image.png'), auto;
} */


@media screen and (max-width: 1200px) {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }
  }

@media screen and (max-width: 1000px) {

    .row{
        margin-left: 5%;
    }
  }

  @media screen and (max-width: 800px) {

      .pov{
          display: flex;
          justify-content: flex-start;
      }

      /* .media-body{
          font-size: large;
      } */

      .pov{
          display: flex;
          justify-content: flex-start;

      }

      .cig1{
              display: flex;
              justify-content: flex-start;
      }

      .cig2{
          display: flex;
          justify-content: flex-start;
      }

}
  @media screen and (max-width: 600px) {


    .media{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3%;
    }

    .column {
   flex: 2;
 }

  }


/* Put your print styles at the bottom of your CSS, so that they take precedence over the styles defined at the beginning of your CSS file. Remember that CSS styles cascade down. */
@media print {
  /* All your print styles go here, for example: */
  .body{
      font-size: 120%;
  }
  .cigs1{
      page-break-before: always;
  }
}
