/* DAY8 */

body{
background-color: #90A0CD;
}

.date{
  font-family: titling-gothic-fb-compressed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626D8D;
  font-size: 300%;
  cursor:default;
}

.body{
  margin-top: 0%;
  font-family: titling-gothic-fb-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626D8D;
  font-size: 1178%;
  cursor:default;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.arrow{
  display: flex;
  justify-content: center;
  color: #626D8D;
  font-size: 400%;
}


#img-tall1{
  margin-top: 3%;
  width: 800px;
}

#img-tall{
  width: 800px;
}

#bottom{
  width: 1603px;
}

.back{
  position: fixed; bottom: 0;
  left:0%;
    font-size: 2vw;
    background-color: #90A0CD;
}

.next{
  position: fixed; bottom: 0;
  right:0%;
    font-size: 2vw;
    background-color: #90A0CD;
}

a{
  font-family: titling-gothic-fb-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626D8D;
  font-size: 3vh;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
