body {
    background-color: #accec0;
    margin: auto;
}

.box-right {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: #050c5d;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    z-index:1;
    left:50vw;
}

.box-left {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    background-color: #050c5d;
    width: 45%;
    padding: 5%;
    height: 100vh;
    box-sizing: border-box;
}
